[submodule "submodules/api-fetcher"]
	path = submodules/api-fetcher
	url = https://github.com/domenicodigangi/api-fetcher.git
	branch = main
[submodule "submodules/superset"]
	path = submodules/superset
	url = https://github.com/apache/superset.git
